google-cloud-vision==3.7.4   # For using Google Cloud Vision API
google-cloud-translate==3.16.0  # For using Google Cloud Translation API
html   # For unescaping HTML entities in translation output
os
