google-cloud-vision==3.0.2   # For using Google Cloud Vision API (vision_v1)
google-cloud-translate==3.7.1  # For using Google Cloud Translation API (translate_v3)
html   # For unescaping HTML entities in translation output
